extends auth
block auth
  section.mt-10
    .flex.justify-center.items-center
      div(class="w-[70px] h-[70px]").flex.justify-center.items-center
        img(src="/images/logo.png", alt="logo", class="w-full object-cover")
    h1.text-center.font-2xl.font-bold.mt-3 MAPP
  div(class="w-9/12 mx-auto mt-10 rounded shadow-lg lg:w-4/12 p-8 bg-slate-50")
    h1.flex.justify-center.text-2xl.text-bold Forget Your Password?
    h3.text-center.text-sm.mt-3 Remember Your Password ?
      a.ml-2.text-blue-600(href="/auth/login") Login
    form(action='/auth/forget_password' method="POST")
      input(type='hidden', name="_csrf", value=csrfToken)
      .mt-4
        label Email
        input.w-full.px-4.py-2.mt-2.border.rounded-md(type='email' name='auth[email]' class='focus:outline-none focus:ring-1 focus:ring-blue-600')
      .mt-4.pb-1
        button.px-6.py-2.mt-4.text-white.bg-blue-600.rounded-lg.w-full(class='hover:bg-blue-900') Reset Password